{% extends "base.html" %}
{% block title %}Animation{% endblock %}
{% block page_title %}Marionette Animator{% endblock %}
{% include 'partials/header.html' %}
{% block content %}
<div class="container">
    <div class="toggle-container">
        <label class="switch">
            <input type="checkbox" id="enableToggle">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div class="container">
    <form id="sliderForm">
        <div class="left">
            {% for servo in servos1 %}
            <p><span id="{{ servo.name }}-value"></span> {{ servo.name }}</p>
            <input type="range" id="{{ servo.name }}" name="{{ servo.name }}" min="{{ servo.min }}"
                max="{{ servo.max }}" value="{{ (servo.min + servo.max) / 2 }}">
            {% endfor %}

            {% if gpios1 %}
            <p><br></p>
            {% endif %}

            {% for gpio in gpios1 %}
            <p><span id="{{ gpio.name }}-value"></span> {{ gpio.name }}</p>
            <input type="range" id="{{ gpio.name }}" name="{{ gpio.name }}" min="0" max="180" value="0">
            {% endfor %}
        </div>
        <div class="right">
            {% for servo in servos2 %}
            <p><span id="{{ servo.name }}-value"></span> {{ servo.name }}</p>
            <input type="range" id="{{ servo.name }}" name="{{ servo.name }}" min="{{ servo.min }}"
                max="{{ servo.max }}" value="{{ (servo.min + servo.max) / 2 }}">
            {% endfor %}

            {% if gpios2 %}
            <p><br></p>
            {% endif %}

            {% for gpio in gpios2 %}
            <p><span id="{{ gpio.name }}-value"></span> {{ gpio.name }}</p>
            <input type="range" id="{{ gpio.name }}" name="{{ gpio.name }}" min="0" max="180" value="0">
            {% endfor %}
        </div>
    </form>
</div>
<div class="container">
    <div id="timelineContainer">
        <div id="timelineControls">
            <div>
                <button id="addKeyframeBtn">+</button>
                <button id="removeKeyframeBtn">-</button>
                <button id="previousFrameBtn">&lt;</button>
                <button id="nextFrameBtn">&gt;</button>
                <button id="copyBtn">Ctrl+C</button>
                <button id="pasteBtn">Ctrl+V</button>
                <button id="cutBtn">Ctrl+X</button>
            </div>
            <button id="settingsBtn">&#9881;</button>
        </div>
        <br>
        <canvas id="timelineCanvas" width="800" height="100"></canvas>
        <div id="keyframes"></div>
    </div>
    <!-- Settings Modal -->
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Settings</h2>
            <!-- Your settings content goes here -->
            <button id="exportBtn">Export</button><br>
            <label for="importInput" id="importBtn">Import</label>
            <input type="file" id="importInput" accept=".json"><br>
            <label for="totalFrames">Total Frames:</label>
            <input type="number" id="totalFrames" value="100"><br>
            <label for="fps">Frames per Second (FPS):</label>
            <input type="number" id="fps" value="30"><br>
            <button id="applyBtn">Apply</button>
        </div>
    </div>
</div>
<div class="container">
    <div id="animationControls">
        <button id="playPauseBtn">&#9205;</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="static/js/animation.js"></script>
<script src="static/js/display.js"></script>
{% endblock %}