{% extends "base.html" %}

{% block title %}Animation{% endblock %}

{% block page_title %}Marionette Animator{% endblock %}

{% include 'partials/header.html' %}

{% block content %}
<div class="container">
    <form id="sliderForm">
        <div>
            <p>Kopf</p>
            <input type="range" id="K" name="K" min="0" max="180" value="0">
        </div>
        <div class="left">
            <p>Schulter rechts</p>
            <input type="range" id="SR" name="SR" min="0" max="180" value="0">
            <p>Arm rechts aussen</p>
            <input type="range" id="ARaR" name="ARaR" min="0" max="180" value="0">
            <p>Arm rechts innen</p>
            <input type="range" id="ARi" name="ARi" min="0" max="180" value="0">
            <p>Bein Rechts</p>
            <input type="range" id="BRR" name="BRR" min="0" max="180" value="0">
            <p><br></p>
            <p>Knopf Schlange</p>
            <input type="range" id="KnopfSchlange" name="KnopfSchlange" min="30" max="180" value="0">
            <p>Kopf Drache</p>
            <input type="range" id="KopfDrache" name="KopfDrache" min="0" max="60" value="0">
            <p>Langer Drache</p>
            <input type="range" id="LangDrache" name="LangDrache" min="65" max="180" value="0">
            <p>Pflanzen Drache</p>
            <input type="range" id="PflanzenDrache" name="PflanzenDrache" min="70" max="180" value="0">
            <p>Fress Drache</p>
            <input type="range" id="FressDrache" name="FressDrache" min="0" max="180" value="0">
            <p><br></p>
            <p>Einzelner Flugdrache</p>
            <input type="range" id="1FlugDrache" name="1FlugDrache" min="0" max="180" value="0">
            <p>Zwei Flugdrachen</p>
            <input type="range" id="2Flugdrachen" name="2Flugdrachen" min="0" max="180" value="0">
            <p>Reserve</p>
            <input type="range" id="Reserve" name="Reserve" min="0" max="180" value="0">
        </div>
        <div class="right">
            <p>Schulter links</p>
            <input type="range" id="SLR" name="SLR" min="0" max="180" value="0">
            <p>Arm links aussen</p>
            <input type="range" id="ALa" name="ALa" min="0" max="180" value="0">
            <p>Arm links innen</p>
            <input type="range" id="ALiR" name="ALiR" min="0" max="180" value="0">
            <p>Bein links</p>
            <input type="range" id="BL" name="BL" min="0" max="180" value="0">
            <p><br></p>
            <p>Wipp Drache</p>
            <input type="range" id="WippDrache" name="WippDrache" min="120" max="150" value="0">
            <p>Drei Drachen</p>
            <input type="range" id="DreiDrachen" name="DreiDrachen" min="90" max="160" value="0">
            <p><br></p>
            <p>Hub ab</p>
            <input type="range" id="HubAb" name="HubAb" min="0" max="180" value="0">
            <p>Hub auf</p>
            <input type="range" id="HubAuf" name="HubAuf" min="0" max="180" value="0">
            <p>Hub ein</p>
            <input type="range" id="HubEin" name="HubEin" min="0" max="180" value="0">
            <p>Schwanzbeisser</p>
            <input type="range" id="Schwanzbeisser" name="Schwanzbeisser" min="0" max="180" value="0">
            <p>Reiter</p>
            <input type="range" id="Reiter" name="Reiter" min="0" max="180" value="0">
            <p>LED Rot</p>
            <input type="range" id="LedRot" name="LedRot" min="0" max="180" value="0">
            <p>LED Grün</p>
            <input type="range" id="LedGruen" name="LedGruen" min="0" max="180" value="0">
        </div>
    </form>


</div>
<div class="container">
    <div id="timelineContainer">
        <div id="timelineControls">
            <div>
                <button id="addKeyframeBtn">+</button>
                <button id="removeKeyframeBtn">-</button>
                <button id="previousFrameBtn">&lt;</button>
                <button id="nextFrameBtn">&gt;</button>
                <button id="copyBtn">Ctrl+C</button>
                <button id="pasteBtn">Ctrl+V</button>
                <button id="cutBtn">Ctrl+X</button>
            </div>
            <button id="settingsBtn">&#9881;</button>
        </div>
        <br>
        <canvas id="timelineCanvas" width="800" height="100"></canvas>
        <div id="keyframes"></div>
    </div>

    <!-- Settings Modal -->
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Settings</h2>
            <!-- Your settings content goes here -->
            <button id="exportBtn">Export</button><br>
            <label for="importInput" id="importBtn">Import</label>
            <input type="file" id="importInput" accept=".json"><br>
            <label for="totalFrames">Total Frames:</label>
            <input type="number" id="totalFrames" value="100"><br>
            <label for="fps">Frames per Second (FPS):</label>
            <input type="number" id="fps" value="30"><br>
            <button id="applyBtn">Apply</button>
        </div>
    </div>

</div>
<div class="container">
    <div id="animationControls">
        <button id="playPauseBtn">&#9205;</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/display.js"></script>
<script src="static/js/animation.js"></script>
{% endblock %}
</body>

</html>