{% extends "base.html" %}

{% block title %}Camera{% endblock %}

{% block page_title %}Camera{% endblock %}

{% include 'partials/header.html' %}

{% block content %}
<div class="camera-container">
        <div class="camera-feed">
            <button onclick="refreshImage()" class="refresh-button">
                <i class="fas fa-sync"></i> Refresh
            </button>
            <br>
            <img src="{{ url_for('capture_image') }}" id="camera-image" alt="Camera Feed">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function refreshImage() {
        const img = document.getElementById('camera-image');
        img.src = "{{ url_for('capture_image') }}?" + new Date().getTime(); // Add time to avoid caching
    }
</script>
{% endblock %}
</body>

</html>
